body {
    padding: 0;
    margin: 0;
}

.lane {
    transition: 0.4s;
    width: 400px;
    margin-left: -400px;
    display: none;
}

.laneVisible {
    background-color: orange;
    margin-left: 0;
    display: block;
}

.laneHiding {
    margin-left: -400px;
    display: block;
}

.hidden {
    opacity: 0;
}