.clock {
    display: block;
    background-color: black;
    color: white;
    font-family: "Georama Regular", sans-serif;
    font-size: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 8px 14px;
    margin-left: 30px;
}

.min-sec {
    font-size: 32px;
    display: inline-block;
    margin-right: 4px;
}

.mil {
    font-family: "Georama Light", sans-serif;
    font-size: 18px;
}
