.lane {
    transition: 0.4s;
    margin-left: -400px;
    display: none;
}

.laneVisible {
    background-color: orange;
    margin-left: 0;
    display: block;
}

.laneHiding {
    margin-left: -400px;
    display: block;
}