.lane {
    transition: 0.4s;
    margin-left: calc(var(--lane-width) * -1);
    display: none;
}

.laneVisible {
    margin-left: 0;
    display: block;
}

.laneHiding {
    margin-left: calc(var(--lane-width) * -1);
    display: block;
}
