.lane {
    display: none;
    transition: 0.4s;
    transform: rotateX(90deg);
}

.lane.shown {
    display: block;
}

.laneVisible {
    transform: rotateX(0deg);
}

.summary {
    transition: 0.4s;
    /*margin-left: calc(var(--lane-width) * -1);*/
    opacity: 0;
    width: var(--lane-width);
}

.summary-header {
    width: calc(100% - 76px);
    background-color: black;
    color: white;
    padding: 26px 38px;
    font-size: 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.summary-header .distance {
    font-size: 42px;
}

.summary.visible {
    opacity: 1;
}

.summary-footer {
    background-color: black;
    padding: 16px 26px;
    color: white;
    font-size: 24px;
}

.summary-footer-left {
    float: left;
    border-bottom-left-radius: 24px;
}

.summary-footer-right {
    float: right;
    border-bottom-right-radius: 24px;
}
