.lane {
    display: none;
    transition: 0.4s;
    transform: rotateX(90deg);
}

.lane.shown {
    display: block;
}

.laneVisible {
    transform: rotateX(0deg);
}

.summary {
    transition: 0.4s;
    /*margin-left: calc(var(--lane-width) * -1);*/
    opacity: 0;
    width: var(--lane-width);
}

.summary-header {
    width: calc(100% - 76px);
    background-color: black;
    color: white;
    padding: 26px 38px;
    font-size: 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.summary-header .distance {
    font-size: 42px;
}

.header-content {
    display: inline-block;
    vertical-align: middle;
}

.distance {
    line-height: 50px;
}

.heat {
    line-height: 42px;
    display: block;
}

.event {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 12px;
    margin-right: 20px;
    font-family: "Georama Bold", sans-serif;
    height: 60px;
    width: 60px;
    line-height: 58px;
}

.logo-box {
    border-left: 2px solid white;
    float: right;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 20px;
}

.logo-text {
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.header-content img {
    width: 70px;
    vertical-align: middle;
}

.summary.visible {
    opacity: 1;
}

.summary-footer {
    background-color: black;
    padding: 16px 26px;
    color: white;
    font-size: 24px;
}

.summary-footer-left {
    float: left;
    border-bottom-left-radius: 24px;
}

.summary-footer-right {
    float: right;
    border-bottom-right-radius: 24px;
}
